@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes openPopup {
  from { opacity: 0; transform: scale(0.9) translateY(-20px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

@keyframes closePopup {
  from { opacity: 1; transform: scale(1) translateY(0); }
  to { opacity: 0; transform: scale(0.9) translateY(-20px); }
}