@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

@mixin flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}