$font-family-main: "Montserrat", sans-serif;
$font-family-second: "Freight", sans-serif;
$font-family-third: "adieu", sans-serif;
$font-family-fourth: "Roboto", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-main-bg: #fff;
$color-main-text: #080808;
$color-secondary-text: #828282;
$color-text3: #fafafa;
$color-text4: #3a3e4b;
$color-text5: rgba(58, 62, 75, 0.45);
$color-text6: #afb0b2;
$color-text7:  rgba(8, 8, 8, 0.7);
$color-select-option: #C5C5C5;
$color-border: rgba(253, 253, 253, 0.32);
$color-border2: #c4c4c4;
$color-border3:  rgba(49, 49, 49, 0.2);
$color-border4: rgba(0, 0, 0, 0.32);
$color-border5: rgba(214, 214, 214, 0.3);
$color-border6: rgba(58, 62, 75, 0.08);
$color-border7: #515151;
$color-border8: rgba(8, 8, 8, 0.32);
$color-box-shadow1: rgba(255, 255, 255, 0.23);
$color-box-shadow2: rgba(0, 0, 0, 0.2);
$color-box-shadow3:  rgba(0, 0, 0, 0.16);
$color-box-shadow4: rgba(0, 0, 0, 0.04);
$color-bg1: rgba(255, 255, 255, 0.5);
$color-bg2: rgba(255, 255, 255, 0.4);
$color-bg3: #f2f2f2;
$color-bg4:  #f7f7f6;
$color-bg5:  #afb0b2;
$color-bg6:  #ececec;
$color-burger-bg:  rgba(8, 8, 8, 0.98);
$color-progressbar: rgba(255, 255, 255, 0.32);
$color-progressbar2: rgba(130, 130, 130, 0.32);
$color-error: #FF0000FF;



