$font-family-main: "Montserrat", sans-serif;
$font-family-second: "Freight", sans-serif;
$font-family-third: "adieu", sans-serif;
$font-family-fourth: "Roboto", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-main-bg: #fff;
$color-main-text: #080808;
$color-secondary-text: #828282;
$color-text3: #fafafa;
$color-border: rgba(253, 253, 253, 0.32);
$color-border2: #c4c4c4;
$color-border3:  rgba(49, 49, 49, 0.2);
$color-box-shadow1: rgba(255, 255, 255, 0.23);
$color-box-shadow2: rgba(0, 0, 0, 0.2);
$color-bg1: rgba(255, 255, 255, 0.5);
$color-bg2: rgba(255, 255, 255, 0.4);
$color-progressbar: rgba(255, 255, 255, 0.32);
$color-select-option: #C5C5C5;



