@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.about-hero{
  position: relative;

  &__wrapper{
    color: variables.$color-main-bg;

  }

  &__inner{
    max-width: 383px;
    position: absolute;
    top: 44vh;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
  }

  &__title{
    margin-bottom: 14px;
  }

  &__text{
    @include media.media-breakpoint-down-equal(xs){
      font-size: 12px;
    }
  }

  &__bg{
    img{
      width: 100%;
      height: 100vh;
    }
  }
}