@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.about-philosophy {

  &__wrapper {
    position: relative;
    padding: 140px 0 144px;
    overflow: hidden;

    @include media.media-breakpoint-down-equal(md){
      padding: 120px 0;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding: 70px 0;
    }
  }

  &__inner{
    max-width: 83.88vw;
    @include mixins.flex-between;
    gap: 8.68vw;
    padding: 0 32px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 100%;
      flex-direction: column;
      gap: 36px;
    }

    &:first-of-type{
      padding-right: 0;
      margin-left: auto;


      @include media.media-breakpoint-down-equal(md){
        margin-bottom: 80px;
      }
    }

    &:last-of-type{
      max-width: 1210px;
      display: block;
      margin: 0 auto;

    }
  }

  &__container {
    flex: 1 1 32.73%;
    max-width: 383px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 80%;
      margin: 0 auto 0 0;
    }
  }

  &__swiper-container {
    flex: 1 1 56%;
    max-width: 46vw;

    @include media.media-breakpoint-down-equal(md){
      max-width: 100%;
    }
  }

  &__swiper{
    max-width: 100%;
    min-width: 0;

    img{
      aspect-ratio: 552 / 444;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__title{
    line-height: 1.2;
    margin: 0 auto 12px;    

    @include media.media-breakpoint-up-equal(lg){
      margin: 6.9vw 0 12px;
    }
  }

  &__pagination{
    margin-top: 36px;
  }

  &__inner_info{
    max-width: 1094px;
    margin: 140px auto 0;

    @include media.media-breakpoint-down-equal(md){
      margin-top: 100px;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin-top: 72px;
    }
  }

  &__picture-room{
    @include media.media-breakpoint-up-equal(lg){
      max-width: 100%;
      margin-left: -5.14vw;
    }

    @include media.media-breakpoint-down-equal(md){
      margin: 0 auto;
    }
  }

  &__picture-absolute{
    display: none;
    position: absolute;
    right: 0;
    bottom: 1298px;


    @include media.media-breakpoint-up-equal(lg){
      display: block;
    }
  }

  &__statistic-container{
    margin-right: 5.28vw;
  }

  &__row {
    max-width: 382px;
    @include mixins.flex-between-center;
    flex-wrap: wrap;
    gap: 31px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 80%;
      margin: 0 auto 0;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 100%;
    }


    &:first-of-type {
      max-width: 312px;
      margin: 76px 0 75px;

      @include media.media-breakpoint-down-equal(md){
        max-width: 80%;
        margin: 0 auto 40px;

        @include media.media-breakpoint-down-equal(sm){
          max-width: 312px;
        }

        @include media.media-breakpoint-down-equal(xxs){
          max-width: 260px;
        }
      }
    }
  }

  &__statistic-container{
    @include media.media-breakpoint-down-equal(md){
      margin: 0 auto;
    }
  }

  &__statistic{
    font-size: 56px;
    font-weight: variables.$font-weight-bold;

    @include media.media-breakpoint-down-equal(xxs){
      font-size: 40px;
    }

  }

  &__statistic-description{
    line-height: 1.32;
    margin-top: -10px;

    @include media.media-breakpoint-down-equal(xs){
      font-size: 11px;
    }

  }

  img{
    max-width: 100%;
  }

  &__founder-container{
    @include mixins.flex-between;
    gap: 32px;
    margin: 178px 0 87px 66px;

    @include media.media-breakpoint-down-equal(md){
      flex-direction: column;
      margin: 40px auto;
    }

    picture{
      @include media.media-breakpoint-down-equal(md){
        margin: 0 auto;
      }
    }
  }

  &__founder{
    max-width: 433px;
    margin-top: 70px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 80%;
      margin: 60px auto 0;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 100%;
    }
  }

  &__founder-name{
    max-width: 383px;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 27px 50px;

    @include media.media-breakpoint-down-equal(xs){
      font-size: 26px;
      margin: 0 0 16px;
    }
  }

  &__founder-description{
    max-width: 167px;
    font-size: 16px;
    font-weight: variables.$font-weight-bold;
    line-height: 1.37;
    margin: 0 0 48px 52px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 100%;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin: 0 0 30px;
    }
  }

  &__founder-quote{
    @include mixins.flex-between;
    gap: 32px;
    font-size: 20px;
    color: variables.$color-text7;

    @include media.media-breakpoint-down-equal(xs){
      gap: 16px;
      font-size: 14px;
    }

    span{
      font-weight: variables.$font-weight-bold;
      font-size: 36px;
      line-height: 1;
      color: variables.$color-main-text;
      margin-top: 8px;

      @include media.media-breakpoint-down-equal(xs){
        font-size: 26px;
      }
    }
  }

  &__team-container{
    @include mixins.flex-between;
    gap: 32px;

    @include media.media-breakpoint-down-equal(md){
      flex-direction: column;
    }
  }

  &__team{
    margin: -11.25vw 0 0 50px;

    @include media.media-breakpoint-down-equal(md){
      display: none;
    }

  }

  &__about-statistic{
    max-width: 410px;
    @include mixins.flex-between;
    gap: 32px;
    margin-bottom: 54px;

    @include media.media-breakpoint-down-equal(md){
      margin: 0 auto 54px;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 90%;
    }
  }

  &__text{
    max-width: 516px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 80%;
      margin: 0 auto;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 100%;
      margin: 0 auto;
    }

    &:first-of-type{
      margin: 0;
    }
  }
}