@use "../utils/variables" as variables;
@use "../utils/media" as media;

html{
  scroll-behavior: smooth;
}

body{
  background-color: variables.$color-main-bg;
  font-family: variables.$font-family-main;
  font-size: 14px;
  font-weight: variables.$font-weight-light;
  line-height: 1.71;
  color: variables.$color-main-text;

  @include media.media-breakpoint-down-equal(md){
    font-size: 14px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

h2{
  font-size: 36px;
  font-weight: variables.$font-weight-bold;
  line-height: 1;

  @include media.media-breakpoint-down-equal(md){
    font-size: 32px;
  }

  @include media.media-breakpoint-down-equal(xs){
    font-size: 26px;
  }
}

h3{
  font-size: 22px;
  font-weight: variables.$font-weight-bold;
  line-height: 1.27;

  @include media.media-breakpoint-down-equal(md){
    font-size: 20px;
    line-height: 1.26;
  }
}

button{
  font-family: variables.$font-family-main;
}

a{
  text-decoration: none;
  cursor: pointer;
}