@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.btn-discover{
  position: relative;
  font-size: 10px;
  font-weight: variables.$font-weight-bold;
  letter-spacing: 0.128em;
  text-transform: uppercase;
  color: variables.$color-main-bg;
  background-color: transparent;
  border: none;
  padding-left: 16px;

  &::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 8px;
    height: 1px;
    background-color: variables.$color-bg2;
  }

  &::after{
    content: "";
    position: absolute;
    top: 49%;
    left: 103%;
    width: 56px;
    height: 1px;
    background-color: variables.$color-bg2;
  }

  &:active{
    color: variables.$color-main-text;
  }

  &.black{
    color: variables.$color-main-text;
  }

  &.black::before{
    background-color: variables.$color-border3;
  }

  &.black::after{
    background-color: variables.$color-border3;
  }
}