@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.footer-small{
  max-width: 1372px;
  @include mixins.flex-between-center;
  color: variables.$color-main-bg;
  padding: 0 30px 30px;
  margin: 0 auto;

  @include media.media-breakpoint-down-equal(md){
    max-width: 970px;
  }

  @include media.media-breakpoint-down-equal(sm){
    max-width: 732px;
  }

  @include media.media-breakpoint-down-equal(xs){
    display: block;
    max-width: 274px;
    padding: 0 24px 30px;
    margin: 0;

  }

  &__column{
    font-size: 12px;
    font-weight: variables.$font-weight-light;
    line-height: 1.52;
    color: variables.$color-secondary-text;

    &:nth-child(2){
      @include mixins.flex-between-center;
      gap: 24px;

      @include media.media-breakpoint-down-equal(md){
        gap: 32px;
      }

      @include media.media-breakpoint-down-equal(xs){
        max-width: 212px;
        gap: 16px;
        margin-left: 4px;
      }
    }
  }

  &__text{
    &:nth-child(2){
      width: 81px;
      @include mixins.flex-column;
      color: variables.$color-main-bg;

      span{
        &:first-of-type{
          font-family: variables.$font-family-third;
          font-weight: variables.$font-weight-regular;
          line-height: 0.8;
          padding-top: 4px;

          @include media.media-breakpoint-down-equal(xs){
            margin-top: 8px;
          }
        }

        &:last-of-type{
          font-size: 15px;
          font-family: variables.$font-family-second;
          font-weight: variables.$font-weight-regular;
          text-align: right;
        }
      }
    }
  }

  &.white{
    .footer-small__text{
      &:nth-child(2){
        color: variables.$color-main-text;

        @include media.media-breakpoint-down-equal(md){
          color: variables.$color-secondary-text;
        }
      }
    }
  }
}