@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.footer{
  position: relative;
  background: url("@assets/img/main/footer/footer-bg-1440.png") no-repeat center/cover;

  @include media.media-breakpoint-down-equal(md){
    background: url("@assets/img/main/footer/footer-bg-1024.png") no-repeat center/cover;
  }

  @include media.media-breakpoint-down-equal(sm){
    background: url("@assets/img/main/footer/footer-bg-768.png") no-repeat center/cover;
  }

  @include media.media-breakpoint-down-equal(xxs){
    background: url("@assets/img/main/footer/footer-bg-375.png") no-repeat center/cover;
  }

  &__wrapper{

    max-width: 1160px;
    color: variables.$color-main-bg;
    padding: 122px 54px 25px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md){
      max-width: 789px;
      padding: 108px 40px 25px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 584px;
      padding: 92px 32px 88px;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 100vw;
      padding: 60px 24px 59px;
    }
  }

  &__title{
    margin-bottom: 19px;

    @include media.media-breakpoint-down-equal(md){
      display: none;
    }
  }

  &__title_mobile{
    display: none;

    @include media.media-breakpoint-down-equal(md){
      display: block;
      margin-bottom: 17px;
    }
  }

  &__text{
    max-width: 390px;
    opacity: 0.6;
    margin-bottom: 61px;

    @include media.media-breakpoint-down-equal(md){
      margin-bottom: 54px;
    }

    @include media.media-breakpoint-down-equal(sm){
      margin-bottom: 49px;
    }

    @include media.media-breakpoint-down-equal(xxs){
      max-width: 290px;
      margin-bottom: 40px;
    }
  }

  &__inner{
    @include mixins.flex-between;
    gap: 32px;

    @include media.media-breakpoint-down-equal(xs){
      display: block;
    }
  }

  &__big-list{
    flex: 1 1 670px;
    max-width: 632px;
    @include mixins.flex-between-center;
    gap: 32px;
    margin-bottom: 66px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 510px;
      margin-bottom: 57px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 500px;
      margin-bottom: 44px;
    }

    @include media.media-breakpoint-down-equal(xs){
      flex-wrap: wrap;
      max-width: 87.2vw;
      gap: 34px;
      margin-bottom: 30px;
    }
  }

  &__big-list-item{

    &:nth-child(2){
      padding-right: 27px;

      @include media.media-breakpoint-down-equal(xs){
        padding-right: 20px;
      }
    }

    span{
      font-size: 16px;
      font-weight: variables.$font-weight-bold;
      line-height: 1.37;
    }
  }

  &__list{
    margin-top: 17px;

    @include media.media-breakpoint-down-equal(xs){
      margin-top: 8px;
    }

    li{
      max-width: 133px;
      font-size: 11px;
      font-weight: variables.$font-weight-light;
      letter-spacing: 0.06em;
      line-height: 1.8;
    }
  }

  a{
    color: variables.$color-main-bg;
  }

  &__container{
    max-width: 469px;
    @include mixins.flex-between-center;
    gap: 32px;

    @include media.media-breakpoint-down-equal(xs){
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 40px;
    }
  }

  &__contact-block-small_mobile{
    @include media.media-breakpoint-up(sm){
      display: none;
    }
  }

  &__contact-block-small_full{
    @include media.media-breakpoint-down-equal(sm){
      display: none;
    }
  }

  .main-footer-small{
    margin-top: 88px;

    @include media.media-breakpoint-down-equal(md){
      margin-top: 84px;
    }

    @include media.media-breakpoint-down-equal(sm){
      margin-top: 94px;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin-top: 55px;
    }
  }

  &__topic-name{
    top: 9.86vw;
    right: 93.3vw;

    @include media.media-breakpoint-down-equal(md){
      display: none;
    }
  }
}

