@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transform: translateZ(0);

  &.active{
    color: variables.$color-main-bg;
    background-color: variables.$color-main-text;

  }

  &.scroll{
    background-color: variables.$color-burger-bg;

    a{
      color: variables.$color-main-bg;
    }

    .btn-send-request{
      color: variables.$color-main-bg;
      border: 1px solid variables.$color-border;

      @include media.media-breakpoint-up(md){
        &:hover{
          background-color: variables.$color-main-bg;
          color: variables.$color-main-text;
        }
      }
    }

    .header__languages{
      color: variables.$color-main-bg;
    }

    .burger__menu{
      color: variables.$color-main-bg;
    }

    .burger__icon span{
      background-color: variables.$color-main-bg;
    }
  }

  &__wrapper{
    max-width: 1440px;
    @include mixins.flex-between-center;
    gap: 32px;
    color: variables.$color-main-bg;
    font-weight: variables.$font-weight-semibold;
    font-size: 11px;
    letter-spacing: 0.06em;
    padding: 24px 64px 24px 62px;
    margin: 0 auto;
    transition: transform 0.3s ease;

    @include media.media-breakpoint-down-equal(md){
      max-width: 1024px;
      padding: 25px 56px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 768px;
      padding: 25px 48px;
    }

    @include media.media-breakpoint-down-equal(xxs){
      max-width: 375px;
      padding: 20px 24px;
    }

    &.active{
      a{
        color: variables.$color-main-bg;
      }

      .header__btn-request{
        color: variables.$color-main-bg;
        border: 1px solid variables.$color-border;
      }

      .header__languages{
        color: variables.$color-main-bg;
      }

      .burger__menu{
        color: variables.$color-main-bg;
      }

      .burger__icon span{
        background-color: variables.$color-main-bg;
      }
    }
  }

  &__logo{
    font-size: 14px;
    font-weight: variables.$font-weight-regular;
    letter-spacing: 0.3em;
    color: variables.$color-main-bg;
    text-transform: uppercase;
  }

  &__container{
    flex: 1 1 84.7%;
    max-width: 1113px;

    @include media.media-breakpoint-down-equal(md){
      flex: 1 1 83%;
      max-width: 757px;
      @include mixins.flex-between-center;
    }

    @include media.media-breakpoint-down-equal(sm){
      flex: 1 1 77.23%;
      max-width: 519px;
    }

    @include media.media-breakpoint-down-equal(xs){
      flex: 1 1 29.97%;
      max-width: 98px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__inner{
    width: 100%;
    @include mixins.flex-between-center;
    gap: 32px;

    @include media.media-breakpoint-down-equal(md){
      flex: 1 1 30.52%;
      max-width: 231px;
    }
  }

  &__column{
    flex: 1 1 25.42%;
    max-width: 25.42%;
    @include mixins.flex-between-center;
    gap: 32px;

    @include media.media-breakpoint-down-equal(md){
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  a{
    color: variables.$color-main-bg;
  }
}

.white{
  background-color: variables.$color-main-bg;

  .header__wrapper{

    @include media.media-breakpoint-down-equal(md){
      padding: 33px 56px 25px 54px;
    }

    @include media.media-breakpoint-down-equal(sm){
      padding: 25px 50px 25px 54px;
    }

    @include media.media-breakpoint-down-equal(xxs){
      padding: 20px 24px;
    }
  }

  a{
    color: variables.$color-main-text;
  }

 .header__btn-request{
  color: variables.$color-main-text;
  border: 1px solid variables.$color-border4;
 }

  .header__languages{
    color: variables.$color-main-text;
  }

  .burger__menu{
    color: variables.$color-main-text;
  }

  .burger__icon span{
    background-color: variables.$color-main-text;
  }
}