@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.header-navigation{
  flex: 1 1 30.37%;
  max-width: 338px;

  ul{
    @include mixins.flex-between-center;
    gap: 32px;
  }

  &.menu-desktop{
    @include media.media-breakpoint-down-equal(md){
      display: none;
    }
  }

  &.menu-mobile{
    display: none;


    @include media.media-breakpoint-down-equal(md){
      display: block;
      visibility: hidden;
      pointer-events: none;

    }
  }

  &__link_mobile{

    @include media.media-breakpoint-up(md){
      display: none;
    }
  }
}