@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.lorem{
  position: relative;
  overflow: hidden;

  &__wrapper{
    max-width: 1440px;
    text-align: center;
    padding: 351px 54px 336px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md){
      padding: 342px 44px 327px;
    }

    @include media.media-breakpoint-down-equal(sm){
      padding: 362px 34px 349px;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding: 294px 34px 258px;
    }
  }

  &__title{
    max-width: 427px;
    font-size: 56px;
    margin: 0 auto 23px;

    @include media.media-breakpoint-down-equal(md){
      font-size: 48px;
      margin-bottom: 26px;
    }

    @include media.media-breakpoint-down-equal(sm){
      font-size: 44px;
      margin-bottom: 26px;
    }

    @include media.media-breakpoint-down-equal(xs){
      display: none;
    }
  }

  &__title_mobile{
    display: none;

    @include media.media-breakpoint-down-equal(xs){
      font-size: 32px;
      display: block;
      margin-bottom: 19px;
    }
  }

  &__text{
    max-width: 390px;
    opacity: 0.6;
    margin: 0 auto;
  }

  &__photo{
    position: absolute;
    box-shadow: 0 0 64px 0 variables.$color-box-shadow3;

    &:nth-child(1){
      top: 184px;
      left: -140px;

      @include media.media-breakpoint-down-equal(md){
        top: 219px;
        left: -236px;
      }

      @include media.media-breakpoint-down-equal(sm){
        top: 198px;
        left: -164px;
      }

      @include media.media-breakpoint-down-equal(xs){
        top: 100px;
        left: -88px;
      }
    }

    &:nth-child(2){
      top: 62px;
      left: 144px;

      @include media.media-breakpoint-down-equal(md){
        top: 115px;
        left: 5px;
      }

      @include media.media-breakpoint-down-equal(sm){
        top: 112px;
        left: 40px;
      }

      @include media.media-breakpoint-down-equal(xs){
        top: 38px;
        left: 53px;
      }
    }

    &:nth-child(3){
      top: -144px;
      right: 320px;

      @include media.media-breakpoint-down-equal(md){
        top: -58px;
        right: 276px;
      }

      @include media.media-breakpoint-down-equal(sm){
        top: -30px;
        right: 90px;
      }

      @include media.media-breakpoint-down-equal(xs){
        top: 112px;
        right: -94px;
      }
    }

    &:nth-child(4){
      top: 62px;
      right: 111px;

      @include media.media-breakpoint-down-equal(md){
        top: 114px;
        right: 100px;
      }

      @include media.media-breakpoint-down-equal(sm){
        top: 132px;
        right: -74px;
      }

      @include media.media-breakpoint-down-equal(xs){
        display: none;
      }
    }

    &:nth-child(5){
      bottom: 104px;
      right: -86px;

      @include media.media-breakpoint-down-equal(md){
        bottom: 127px;
        right: -152px;
      }

      @include media.media-breakpoint-down-equal(sm){
        bottom: 127px;
        right: -250px;
      }

      @include media.media-breakpoint-down-equal(xs){
        bottom: 120px;
        right: -140px;
      }
    }

    &:nth-child(6){
      bottom: -48px;
      right: 452px;

      @include media.media-breakpoint-down-equal(md){
        bottom: -1px;
        right: 304px;
      }

      @include media.media-breakpoint-down-equal(sm){
        bottom: -23px;
        right: 158px;
      }

      @include media.media-breakpoint-down-equal(xs){
        bottom: -14px;
        right: 38px;
      }
    }

    &:nth-child(7){
      bottom: 60px;
      left: 19.3vw;

      @include media.media-breakpoint-down-equal(md){
        bottom: 91px;
        left: 58px;
      }

      @include media.media-breakpoint-down-equal(sm){
        bottom: 63px;
        left: 44px;
      }

      @include media.media-breakpoint-down-equal(xs){
        bottom: 142px;
        left: 22px;
        z-index: 2;
      }
    }

    &:nth-child(8){
      bottom: -90px;
      left: -128px;

      @include media.media-breakpoint-down-equal(md){
        display: none;
      }

      @include media.media-breakpoint-down-equal(xs){
        display: block;
        bottom: 68px;
        left: -60px;

      }
    }

    img{
      max-width: 100%;
    }
  }

  &.black{
    background-color: variables.$color-main-text;
    color: variables.$color-main-bg;
  }
}