@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;
@use "../utils/keyframes" as keyframes;

.pop-up-request {
  padding: 0;

  &[open] {
    animation: openPopup 0.4s ease-out forwards;
  }

  &.closing{
    animation: closePopup 0.4s ease-out forwards;
  }

  &::backdrop {
    background-color: variables.$color-main-text;
    animation: fadeIn 0.3s ease-out;
  }


  &__wrapper{
    min-width: 72.64vw;
    background-color: variables.$color-bg3;
    box-shadow:  0 2px 24px 0 variables.$color-box-shadow4;
    padding: 56px 8.54vw;

    @include media.media-breakpoint-down-equal(md){
      min-width: 78.9vw;
      padding: 28px 4.98vw;
    }

    @include media.media-breakpoint-down-equal(sm){
      min-width: 72.65vw;
      padding: 30px 4.98vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      min-width: 87.2vw;
      padding: 0;
      background-color: variables.$color-main-text;
    }
  }
}

.form{
  max-width: 800px;
  @include mixins.flex-column;
  gap: 6px;
  color: variables.$color-text4;
  letter-spacing: 0.06em;
  margin: 0 auto;

  @include media.media-breakpoint-down-equal(xs){
    gap: 8px;
  }

  &__inner{
    min-width: 82.5%;
    background-color: variables.$color-main-bg;
    border: 1px solid variables.$color-box-shadow4;
    padding: 44px 70px 42px;

    @include media.media-breakpoint-down-equal(md){
      padding: 48px 50px 42px;
    }

    @include media.media-breakpoint-down-equal(sm){
      padding: 46px 56px 42px;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding: 24px 22px 40px;
    }

    &:nth-child(2){
      padding: 38px 70px 36px;

      @include media.media-breakpoint-down-equal(md){
        padding: 38px 40px 46px 50px;
      }

      @include media.media-breakpoint-down-equal(sm){
        padding: 5.5vw 56px;
      }

      @include media.media-breakpoint-down-equal(xs){
        padding: 36px 22px 38px;
      }
    }
  }
  
  &__title{
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 32px;

    @include media.media-breakpoint-down-equal(md){
      font-size: 24px;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin-left: 22px;
    }

    &:first-of-type{
      @include media.media-breakpoint-down-equal(md){
        display: none;
      }
    }

    &:last-of-type{
      @include media.media-breakpoint-up(md){
        display: none;
      }
    }
  }

  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 36px;
    grid-row-gap: 38px;

    @include media.media-breakpoint-down-equal(sm){
      grid-template-columns: 1fr;
      grid-row-gap: 39px;
    }
  }

  &__group{
    position: relative;

    &:nth-child(4){
      @include media.media-breakpoint-down-equal(sm){
        grid-area: 5 / 1 / 6 / 2;
      }
    }

    &:nth-child(6){
      select{
        width: 100%;
        height: 24px;
        border: none;
        border-bottom: 1px solid variables.$color-border5;
        cursor: pointer;
        border-radius: 0;
        background-color: variables.$color-main-bg;

        &:valid ~ label{
          transform: translateY(-20px) translateX(7vw);
          color: variables.$color-main-text;
          font-size: 10px;
          letter-spacing: 0;
        }

        option{
          background-color: variables.$color-main-bg;
        }
      }

      label{
        @include media.media-breakpoint-down-equal(xs){
          transform: translateX(2px) translateY(1px);
        }
      }
    }

    &:nth-child(7){
      grid-area: 4 / 1 / 5 / 3;

      @include media.media-breakpoint-down-equal(sm){
        grid-area: auto;
      }
    }

    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid variables.$color-border5;
      font-family: variables.$font-family-main;
      font-size: 14px;
      cursor: text;
    }

    label{
      position: absolute;
      left: 0;
      transform: translateY(-4px);
      font-size: 11px;
      font-weight: variables.$font-weight-semibold;
      letter-spacing: 0.06em;
      transition: transform 0.4s ease;
      pointer-events: none;
      cursor: pointer;
    }

    &:focus-within label,
    input:not(:placeholder-shown) + label{
      transform: translateY(-20px) translateX(7vw);
      color: variables.$color-main-text;
      font-size: 10px;
      letter-spacing: 0;
    }
  }

  &__error{
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 10px;
    letter-spacing: 0.01em;
    font-weight: variables.$font-weight-semibold;
    color: variables.$color-error;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.active{
      opacity: 1;
    }
  }

  &__error_pattern{
    left: auto;
    right: 0;

    &.active{
      opacity: 1;
    }
  }

  &__area{
    font-size: 11px;
    font-weight: variables.$font-weight-semibold;
    margin-bottom: 16px;
  }

  &__radio-btns{
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 0.6fr repeat(6, 1fr) 0.3fr;
    grid-template-rows: auto;
    margin-bottom: 52px;

    @include media.media-breakpoint-down-equal(md){
      margin-bottom: 38px;
    }

    @include media.media-breakpoint-down-equal(sm){
      grid-template-columns: 0.5fr repeat(2, 1fr) 0.4fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 28px;

      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 91%;
        background-color: variables.$color-bg5;
        z-index: -1;
      }

      @include media.media-breakpoint-down-equal(xs){
        row-gap: 22px;
        margin-bottom: 26px;
      }
    }

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 76%;
      background-color: variables.$color-bg5;

      @include media.media-breakpoint-down-equal(sm){
        top: 28.5%
      }

      @include media.media-breakpoint-down-equal(xxs){
        top: 30%;
      }
    }
  }

  &__radio-btn{
    @include mixins.flex-column;
    gap: 7px;
    justify-self: center;

    &:first-child{
      justify-self: start;
    }

    &:nth-child(4){
      @include media.media-breakpoint-down-equal(sm){
        justify-self: end;
      }
    }

    &:nth-child(5){
      @include media.media-breakpoint-down-equal(sm){
        justify-self: start;
      }
    }

    &:last-child{
      justify-self: end;
    }

    input{
      display: none;
    }

    input:checked ~ .form__radio-icon{
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
      background-color: variables.$color-main-text;
      transition: background-color 1s ease;
    }

    input:checked ~ .form__radio-icon:before{
      background-color: variables.$color-main-bg;
    }
  }

  &__radio-icon{
    position: relative;
    width: 18px;
    height: 18px;
    background-color: variables.$color-bg4;
    border-radius: 100%;
    cursor: pointer;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: variables.$color-bg5;
    }
  }

  &__radio-icon_margin{
    margin-left: 14px;
  }

  &__radio-icon_margin-small{
    @include media.media-breakpoint-down-equal(sm){
      margin-left: 28px;
    }
  }

  &__radio-label{
    font-size: 9px;
    font-weight: variables.$font-weight-medium;
    color: variables.$color-text5;
    pointer-events: none;

    @include media.media-breakpoint-down(sm){
      font-size: 7px;
    }

    @include media.media-breakpoint-down-equal(xs){
      font-size: 9px;
    }

    @include media.media-breakpoint-down(xxs){
      font-size: 7px;
    }
  }

  &__file-text{
    p:nth-child(1){
      font-size: 11px;
      font-weight: variables.$font-weight-semibold;
    }

    p:nth-child(2){
      font-size: 9px;
      font-weight: variables.$font-weight-medium;
      color: variables.$color-text5;
    }
  }

  &__row{
    max-width: 660px;
    @include mixins.flex-between-center;
    gap: 20px;
    margin-bottom: 38px;

    @include media.media-breakpoint-down-equal(md){
      margin-bottom: 0;
    }

    @include media.media-breakpoint-down-equal(sm){
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  }

  &__add-file{
    max-width: 231px;
    @include mixins.flex-between-center;
    gap: 12px;


    input{
      display: none;
    }

    label{
      position: relative;
      font-size: 20px;
      font-weight: variables.$font-weight-regular;
      width: 39px;
      height: 39px;
      border: 1px solid variables.$color-border6;
      border-radius: 100%;
      background-color: variables.$color-bg4;
      cursor: pointer;

      @include media.media-breakpoint-up(md){
        &:hover{
          filter: invert(100%);
        }
      }

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__btn-submit{
    font-size: 11px;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: 0.06em;
    color: variables.$color-main-bg;
    background-color: variables.$color-text4;
    border: none;
    padding: 14px 48px;
  }

  &__afterword{
    max-width: 630px;
   font-family: variables.$font-family-fourth;
    font-size: 10px;
    font-weight: variables.$font-weight-regular;
    line-height: 1.41;
    text-align: center;
    margin: 0 auto;
    color:  variables.$color-text6;

    @include media.media-breakpoint-down-equal(md){
      display: none;
    }

    span{
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}