@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.preloader {
  position: fixed;
  inset: 0;
  z-index: 11;
  background-color: variables.$color-main-text;
  opacity: 1;
  transition: transform 0.5s ease;
  transform: translateX(0);

  &.loaded {
    transform: translateX(-100%);
    pointer-events: none;
  }

  &__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: variables.$font-weight-light;
    letter-spacing: 0.26em;
    text-transform: uppercase;
    color: variables.$color-text3;
  }
}

body.loading .loading-content{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

body:not(.loading) .loading-content{
  opacity: 1;
  pointer-events: auto;
}