@use "../utils/variables" as variables;
@use "../utils/media" as media;
@use "../utils/mixins" as mixins;

.topic-name{
  position: absolute;
  font-size: 8px;
  font-weight: variables.$font-weight-bold;
  text-transform: uppercase;
  color: variables.$color-secondary-text;
  letter-spacing: 0.2em;
  opacity: 0.32;
  rotate: -90deg;

  &::before{
    content: "";
    position: absolute;
    top: 40%;
    right: 60px;
    width: 57px;
    height: 1px;
    background-color: variables.$color-secondary-text;
    opacity: 0.16;
  }
}