@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.news-footer{
  position: relative;

  &__bg{
    z-index: -1;

    img{
      width: 100%;
      height: 654px;

      @include media.media-breakpoint-down-equal(md){
        height: 593px;
      }

      @include media.media-breakpoint-down-equal(sm){
        height: 540px;
      }

      @include media.media-breakpoint-down-equal(xs){
        height: 518px;
      }
    }
  }

  &__wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: variables.$color-main-bg;
  }

  &__inner{
    max-width: 1156px;
    @include mixins.flex-between;
    gap: 32px;
    padding: 138px 56px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md){
      gap: 2px;
      max-width: 794px;
      padding: 122px 44px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 582px;
      flex-direction: column;
      gap: 22px;
      padding: 102px 32px;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding: 82px 24px;
    }
  }

  &__text{
    max-width: 424px;
    font-size: 36px;
    font-weight: variables.$font-weight-semibold;
    line-height: 1.42;
    letter-spacing: 0.01em;

    @include media.media-breakpoint-down-equal(md){
      font-size: 32px;
      line-height: 1.22;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 367px;
    }

    @include media.media-breakpoint-down-equal(xs){
      max-width: 298px;
      font-size: 26px;
    }
  }

  &__container{
    max-width: 382px;
    margin-top: 180px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 342px;
      margin-top: 140px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 100%;
      margin-top: 0;
    }
  }

  &__description{
    margin-bottom: 37px;

    @include media.media-breakpoint-down-equal(md){
      margin-bottom: 27px;
    }

    @include media.media-breakpoint-down-equal(sm){
      margin-bottom: 38px;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin-bottom: 34px;
    }
  }

  &__description_full{
    display: none;

    @include media.media-breakpoint-up(md){
      display: block;
    }
  }

  &__description_mobile{
    display: none;

    @include media.media-breakpoint-down-equal(md){
      display: block;
    }
  }

  &__footer-small{
    background-color: transparent;
    padding: 0 30px 0;
  }

  .email{
    max-width: 100%;
  }

  .email__arrow{
    color: white;
  }
}