@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.hero{
  position: relative;
  color: variables.$color-main-bg;

  &__swiper{
    img{
      height: 744px;
      width: 100%;

      @include media.media-breakpoint-down-equal(md){
        height: 710px;
      }

      @include media.media-breakpoint-down-equal(sm){
        height: 959px;
      }

      @include media.media-breakpoint-down-equal(xs){
        height: 542px;
      }
    }
  }

  &__inner{
    position: absolute;
    top: 280px;
    left: 18.26vw;
    z-index: 2;

    @include media.media-breakpoint-down-equal(md){
      top: 283px;
      left: 15.63vw;
    }

    @include media.media-breakpoint-down-equal(sm){
      top: 383px;
      left: 16.2vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      top: 221px;
      left: 6.4vw;
    }

    &:last-of-type{
      top: auto;
      bottom: 40px;
      left: 4.5vw;

      @include media.media-breakpoint-down-equal(md){
        bottom: 32px;
        left: 5.5vw;
      }

      @include media.media-breakpoint-down-equal(sm){
        left: 6vw;
      }

      @include media.media-breakpoint-down-equal(xs){
        bottom: 21px;
      }
    }
  }

  &__inner_pagination{
    top: 452px;
    left: auto;
    right: 173px;
    width: 274px;
    z-index: 10;
    @include mixins.flex-between-center;
    gap: 13px;
    font-size: 11px;

    @include media.media-breakpoint-down-equal(md){
      top: 426px;
      right: 162px;
      width: 236px;
      font-size: 12px;
    }

    @include media.media-breakpoint-down-equal(sm){
      top: auto;
      bottom: 47.92vw;
      right: 17.4vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      top: 142px;
      right: auto;
      bottom: auto;
      left: 40px;
    }

    @include media.media-breakpoint-down-equal(xxs){
      top: 138px;
      right: auto;
      left: 24px;
      width: 176px;
    }
  }

  &__inner_proportions{
    top: auto;
    bottom: 146px;
    left: auto;
    right: -3.47vw;
    rotate: -90deg;

    @include media.media-breakpoint-down-equal(md){
      bottom: 154px;
      right: -7.6vw;
    }

    @include media.media-breakpoint-down-equal(sm){
      bottom: auto;
      top: 93.9vw;
      right: -15.6vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      top: auto;
      bottom: 140px;
      right: -13.6vw;
    }

    @include media.media-breakpoint-down-equal(xxs){
      bottom: auto;
      top: 109.3vw;
      right: -18.6vw;
    }
  }

  &__title{
    max-width: 490px;
    font-size: 56px;
    font-weight: variables.$font-weight-bold;
    line-height: 1.21;
    margin-bottom: 31px;

    @include media.media-breakpoint-down-equal(md){
      max-width: 440px;
      font-size: 48px;
      margin-bottom: 23px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 285px;
      font-size: 44px;
      margin-bottom: 25px;
    }

    @include media.media-breakpoint-down-equal(xs){
      font-size: 40px;
      line-height: 1;
      margin-bottom: 27px;
    }
  }

  &__pagination-progressbar{
    position: relative;
    width: 186px;
    height: 1px;
    background-color: variables.$color-progressbar;
  }

  &__pagination-fill-progressbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: variables.$color-main-bg;
    transition: width 0.8s ease;
  }

  &__arrow{
    cursor: pointer;
  }

  &__arrow_right{
    rotate: 180deg;
  }

  &__text{
    font-size: 11px;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: 0.06em;
    margin: 0 0 8px 2px;

    @include media.media-breakpoint-down-equal(xs){
      display: none;
    }
  }

  &__proportions{
    max-width: 318px;
    font-size: 48px;
    font-weight: variables.$font-weight-bold;
    line-height: 0.98;
    letter-spacing: 0.04em;
    color: transparent;
    -webkit-text-stroke: 1px white;

    @include media.media-breakpoint-down-equal(md){
      font-size: 32px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 354px;
      font-size: 32px;
    }

    @include media.media-breakpoint-down-equal(xs){
      font-size: 18px;
      color: variables.$color-main-bg;
      -webkit-text-stroke: initial;
    }
  }
}