@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.hero{
  position: relative;
  color: variables.$color-main-bg;

  &__swiper{
    img{
      height: 100vh;
      width: 100%;
    }
  }

  &__inner{
    position: absolute;
    top: 37.63vh;
    left: 18.26vw;
    z-index: 2;

    @include media.media-breakpoint-down-equal(md){
      top: 39.86vh;
      left: 15.63vw;
    }

    @include media.media-breakpoint-down-equal(sm){
      top: 39.94vh;
      left: 16.2vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      top: 40.87vh;
      left: 6.4vw;
    }

    &:last-of-type{
      top: auto;
      bottom: 40px;
      left: 4.5vw;

      @include media.media-breakpoint-down-equal(md){
        bottom: 32px;
        left: 5.5vw;
      }

      @include media.media-breakpoint-down-equal(sm){
        left: 6vw;
      }

      @include media.media-breakpoint-down-equal(xs){
        bottom: 21px;
      }
    }
  }

  &__inner_pagination{
    top: 60.75vh;
    left: auto;
    right: 173px;
    width: 274px;
    z-index: 3;
    @include mixins.flex-between-center;
    gap: 13px;
    font-size: 11px;

    @include media.media-breakpoint-down-equal(md){
      top: auto;
      bottom: 37.46vh;
      right: 15.82vw;
      left: auto;
      width: 236px;
      font-size: 12px;
    }

    @include media.media-breakpoint-down-equal(sm){
      top:auto;
      bottom: 38.5vh;
      left: auto;
      right: 17.4vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      top: 26.2vh;
      right: auto;
      bottom: auto;
      left: 40px;
    }

    @include media.media-breakpoint-down-equal(xxs){
      top: 138px;
      right: auto;
      left: 24px;
      width: 176px;
    }
  }

  &__inner_proportions{
    top: auto;
    bottom: 146px;
    left: auto;
    right: -3.47vw;
    rotate: -90deg;

    @include media.media-breakpoint-down-equal(md){
      top: auto;
      left: auto;
      bottom: 154px;
      right: -7.6vw;
    }

    @include media.media-breakpoint-down-equal(sm){
      left: auto;
      bottom: 180px;
      right: -15.6vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      left: auto;
      top: auto;
      bottom: 140px;
      right: -13.6vw;
    }

    @include media.media-breakpoint-down-equal(xxs){
      left: auto;
      bottom: 150px;
      right: -18.6vw;
    }
  }

  &__title{
    max-width: 490px;
    font-size: 56px;
    font-weight: variables.$font-weight-bold;
    line-height: 1.21;
    margin-bottom: 31px;
    pointer-events: none;

    @include media.media-breakpoint-down-equal(md){
      max-width: 440px;
      font-size: 48px;
      margin-bottom: 23px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 285px;
      font-size: 44px;
      margin-bottom: 25px;
    }

    @include media.media-breakpoint-down-equal(xs){
      font-size: 40px;
      line-height: 1;
      margin-bottom: 27px;
    }
  }

  &__text{
    font-size: 11px;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: 0.06em;
    margin: 0 0 8px 2px;

    @include media.media-breakpoint-down-equal(xs){
      display: none;
    }
  }

  &__proportions{
    max-width: 318px;
    font-size: 48px;
    font-weight: variables.$font-weight-bold;
    line-height: 0.98;
    letter-spacing: 0.04em;
    color: transparent;
    -webkit-text-stroke: 1px white;

    @include media.media-breakpoint-down-equal(md){
      font-size: 32px;
    }

    @include media.media-breakpoint-down-equal(sm){
      max-width: 354px;
      font-size: 32px;
    }

    @include media.media-breakpoint-down-equal(xs){
      font-size: 18px;
      color: variables.$color-main-bg;
      -webkit-text-stroke: initial;
    }
  }
}