@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.main-projects{
  background-color: variables.$color-main-text;

  &__wrapper{
    max-width: 1440px;
    color: variables.$color-main-bg;
    padding: 144px 64px 11px 62px;
    margin: 0 auto;
  }

  &__title{
    text-align: center;
    margin-bottom: 34px;
  }

  &__text{
    max-width: 449px;
    text-align: center;
    color: variables.$color-secondary-text;
    margin: 0 auto 132px;
  }

  &__inner{
    @include mixins.flex-column;
      gap: 8px;
  }

  &__container{
    flex: 1 1 100%;
    max-width: 100%;
    @include mixins.flex-between-center;
    gap: 8px;

    &:last-of-type{
      .main-projects__example{
        img{
          flex: 1 1 100%;
          max-width: 45.35vw;
        }
      }
    }
  }


  &__example{
    position: relative;
  }


  &__description{
    position: absolute;
    padding: 32px 32px 34px 32px;
  }

  &__info{
    max-width: 160px;
    @include mixins.flex-between-center;
    gap: 24px;
    font-size: 10px;
    line-height: 1.71;

    @include media.media-breakpoint-down-equal(md){
      max-width: 181px;
      gap: 18px;
      font-size: 11px;
      font-weight: variables.$font-weight-medium;
      line-height: 1.7;
    }
  }

  &__title-room{
    margin-top: 542px;

    @include media.media-breakpoint-down-equal(md){
      color: variables.$color-text3;
      margin: 312px 0 24px;
    }
  }

  &__btn-discover{
    display: none;
  }

  &__more-examples{
    flex: 1 1 49.6%;
    max-width: 49.7%;
    background-color: variables.$color-main-bg;
    padding: 7.85vw 0 11.46vw;


    img{
      display: block;
      margin: 0 auto;
    }
  }

  &__title-see{
    color: variables.$color-main-text;
    text-align: center;
    margin-bottom: 24px;
  }

  img{
  max-width: 100%;
  }


}