@use "../../utils/variables" as variables;
@use "../../utils/media" as media;
@use "../../utils/mixins" as mixins;

.one-news-latest{

  &__wrapper{
    position: relative;
    padding: 0 0 126px 64px;

    @include media.media-breakpoint-down-equal(md){
      padding: 0 0 114px 56px;
    }

    @include media.media-breakpoint-down-equal(sm){
      padding: 0 0 94px 46px;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding: 0 0 74px 24px;
    }
  }

  &__inner{
    max-width: 95.56vw;
    padding-left: 138px;
    margin-left: auto;

    @include media.media-breakpoint-down-equal(md){
      padding-left: 10.15vw;
    }

    @include media.media-breakpoint-down-equal(xs){
      padding-left: 0;
    }
  }

  &__title{
    margin-bottom: 74px;

    @include media.media-breakpoint-down-equal(md){
      margin-bottom: 58px;
    }

    @include media.media-breakpoint-down-equal(sm){
      margin-bottom: 50px;
    }

    @include media.media-breakpoint-down-equal(xs){
      margin-bottom: 44px;
    }
  }

  &__swiper{
    max-width: 100%;

    img{
      max-width: 100%;
    }
  }

  &__swiper-text{
    max-width: 293px;
    font-weight: variables.$font-weight-bold;
    line-height: 1.37;
    color: variables.$color-text4;
    margin-top: 24px;

    @include media.media-breakpoint-down-equal(sm){
      max-width: 290px;
    }
  }

  &__swiper-data{
    font-size: 10px;
    color: variables.$color-secondary-text;
    margin-top: 14px;
  }

  &__topic-name{
    top: 10px;
    left: 54px;

    @include media.media-breakpoint-down-equal(md){
      top: 4px;
      left: 48px;
    }

    @include media.media-breakpoint-down-equal(sm){
      top: 4px;
      left: 40px;
    }

    @include media.media-breakpoint-down-equal(xs){
      display: none;
    }

  }
}